@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
:root{
    --cor1: #4A2570;
    --cor2: #8651BC;
    --cor3: #1A1226;
    --cor4: #00010D;
  }
.paginaForm{
    display: grid;
    max-width: 100vw;
    box-sizing: border-box;
    grid-template-columns: 100vw;
    grid-template-rows: 150px 650px 80px;
    grid-template-areas: 
        'header'
        'main'
        'footer'  
    ; 
}
Header{
    grid-area: header;
}
.main{
    grid-area: main;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
Footer{
    grid-area: footer;
}
.formulario h2{
    font-family: 'Oswald', sans-serif;
    
}
.Cadastro, .NotaFiscal{
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.infoContato{
    display: flex;
    justify-content: space-between;
}
.infoContato  .marcar{
    width: 28vw;
}
.infoEndereco{
    margin-top: 15px;    
}
.infoEndereco .marcar{
    margin-bottom: 10px;
}
.marcar{
    width: 60vw;
    height: 20px;
}
.Pagamento{
    display: flex;
    justify-content: space-around;
}
.NotaFiscal{
    margin-top: 15px;
    display: none;
}
.checked{
    margin-top: 15px;
    display: block;
    background-color: var(--cor4);
    color: white;
    padding: 10px;
}
.nota{
    display: flex;
    justify-content: space-around;
    max-width: 300px;
}
.button{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    color: white;
}
#enviar, #voltar{
    display: inline-block;
    padding: 8px;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    border: none;
}
#enviar{
    background-color: green;
}
#voltar{
    background-color: red;
    
}
.Pagamento > label{
    display: flex;
}
.Pagamento p{
    font-size: 1.1em;
    margin-right: 3px;
}
.icon{
    margin-top: 4px;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 1333px;
    border: 2px solid black;
    background-color: #1A1226;
}
thead{
    text-align: center;
    color: white;
    font-weight: 500;
    text-indent: 5px;
    border: 2px solid black;
}
thead tr{
    text-align: center;
}
table td{
    border: 1px solid black;
    padding: 3px;
}
@media(max-width: 1400px){
    
    .formulario h2{
        font-size: 28px;
    }
}
@media(max-width: 1300px){
    
    .formulario h2{
        font-size: 28px;
    }
}
@media(max-width: 1200px){
   
    .formulario h2{
        font-size: 28px;
    }
}

@media(max-width: 800px){
    .formulario h2{
        font-size: 25px;
    }
    .infoContato  .marcar{
        width: 30vw;
    }
    .marcar{
        width: 70vw;
    }
   
}
@media(max-width: 600px){
   
    .formulario h2{
        font-size: 20px;
    }
    .infoContato  .marcar{
        width: 30vw;
    }
    .marcar{
        width: 65vw;
    }
}
@media(max-width: 500px){

    .formulario h2{
        font-size: 20px;
    }
    .infoContato  .marcar{
        width: 25vw;
    }
    .marcar{
        width: 65vw;
    }
}
@media(max-width: 400px){
    
    .formulario h2{
        font-size: 20px;
    }
    .infoContato  .marcar{
        width: 25vw;
    }
    .marcar{
        width: 65vw;
    }
}
@media(max-width: 300px){
    .formulario h2{
        font-size: 15px;
    }
    .infoContato  .marcar{
        width: 25vw;
    }
    .marcar{
        width: 65vw;
    }
    .nota{
        font-size: 10px;
    }
}