:root{
    --cor1: #4A2570;
    --cor2: #8651BC;
    --cor3: #1A1226;
    --cor4: #00010D;
  }
main{
    display: grid;
    max-width: 98.9%;
    max-height: 100%;
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: 1200px 300px;
    grid-template-areas:
        'cardapio cardapio'
        'conta conta'
    ;
    gap: 5px;
}
.cardapio{
    grid-area: cardapio;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

}
.cardapio > h2 {
    color: white;
    font-size: 36px;
}
.acaiNoCopo >h2{
    color: white;
    position: absolute;
    left: 50px;
    top: 160px;
}
.acaiNaTijela >h2{
    color: white;
    position: absolute;
    left: 50px;
    top: 540px;
}
.BarcaOuRoleta >h2{
    color: white;
    position: absolute;
    left: 50px;
    top: 920px;
}
.acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
    display: flex;
    margin-top: 50px;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 50px;
    background-color: #4A2570;
    padding: 10px;
}
.opcoes {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.507);
    width: 220px;
    height: 260px;
    position: relative;
    padding: 5px;
    border: 1px solid white;
    font-family: Verdana, sans-serif;
    border-radius: 10px;
}
.opcoes:hover{
    box-shadow: 1px 1px 10px var(--cor4);
    border: 2px solid var(--cor4);
}
.opcoes h3{
    font-size:18px;
    font-weight: bolder;
    margin: 0px;
}
.opcoes > img{
    width: 100% ;
    max-height: 50%;
}
.preco{
    float: right;
    padding: 10px;
}
.precoDe{
    color: brown;
}
.precoPor{
    color: green;
    font-size: 1.4em;
    font-weight: bold;
}
button{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 3px;
    border: 1.5px solid rgb(3, 81, 3);
    position: relative;
    left: 30%;
    top: 10px;

}
button:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.507);
    border: 2px solid rgba(0, 0, 0, 0.504);
}
.AreaDeConta{
    grid-area: conta;
    background-color: #4A2570;
    color: white;
}
@media(min-width: 1401px){
    main{
        grid-template-rows: 1200px 1fr;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 300px;

    }
    .acaiNoCopo >h2{
        top: 140px;
        left: 75px;
    }
    .acaiNaTijela >h2{
        top: 520px;
        left: 75px;
    }
    .BarcaOuRoleta >h2{
        top: 895px;
        left: 75px;
    }
    .opcoes {
        width: 220px;
        height: 260px;
        
    }
    .opcoes h3{
        font-size:18px;
        font-weight: bolder;
        margin: 0px;
    }
    .opcoes > img{
        width: 100% ;
        max-height: 50%;
    }
    .preco{
        float: right;
        padding: 10px;
    }
    .precoDe{
        font-size: 1.2em;
        color: rgb(42, 165, 67);
    }
    .precoPor{
        font-size: 1.4em;
        font-weight: bold;
    }
    button{
        left: 30%;
        top: 10px;
    
    }
}
@media(max-width: 1400px){
    main{
        grid-template-rows: 1200px 1fr;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 300px;

    }
    .acaiNoCopo >h2{
        top: 140px;
        left: 65px;
    }
    .acaiNaTijela >h2{
        top: 520px;
        left: 65px;
    }
    .BarcaOuRoleta >h2{
        top: 895px;
        left: 65px;
    }
    
}
@media(min-width: 1301px) and (max-width: 1400px){
    .opcoes{
        width: 180px;
        height: 230px;
        margin-top: 20px;
    }
    
    .opcoes h3{
        font-size:15px;
        font-weight: bolder;
        margin: 0px;
        text-align: center;
    }
    .opcoes > img{
        width: 100% ;
        max-height: 50%;
    }
    .preco{
        float: right;
        padding: 5px;
    }
    .precoDe{
        color: brown;
        font-size: 15px;
    }
    .precoPor{
        color: green;
        font-size: 17px;
        font-weight: bold;
    }
    button{
        left: 30%;
    }
}
@media(max-width: 1300px){
    main{
        grid-template-rows: 1900px 200px;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 650px;

    }
    .opcoes > h3{
        text-align: center;
    }
    .BarcaOuRoleta{
        height: 300px;
    }
    .acaiNoCopo >h2{
        top: 140px;
        left: 60px;
    }
    .acaiNaTijela >h2{
        top: 870px;
        left: 60px;
    }
    .BarcaOuRoleta >h2{
        top: 1595px;
        left: 60px;
    }
}
@media(max-width: 1200px){
    main{
        grid-template-rows: 1900px 200px;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 650px;

    }
    .BarcaOuRoleta{
        height: 300px;
    }
    .acaiNoCopo >h2{
        top: 140px;
        left: 60px;
    }
    .acaiNaTijela >h2{
        top: 870px;
        left: 60px;
    }
    .BarcaOuRoleta >h2{
        top: 1595px;
        left: 60px;
    }
}
@media(max-width: 1100px){
    main{
        grid-template-rows: 1900px 200px;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 650px;

    }
    .BarcaOuRoleta{
        height: 300px;
    }
    .acaiNoCopo >h2{
        top: 140px;
        left: 50px;
    }
    .acaiNaTijela >h2{
        top: 870px;
        left: 50px;
    }
    .BarcaOuRoleta >h2{
        top: 1595px;
        left: 50px;
    }
}
@media(max-width: 1000px){
    main{
        grid-template-rows: 1900px 200px;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 650px;

    }
    .BarcaOuRoleta{
        height: 300px;
    }
    .acaiNoCopo >h2{
        top: 140px;
        left: 45px;
    }
    .acaiNaTijela >h2{
        top: 870px;
        left: 45px;
    }
    .BarcaOuRoleta >h2{
        top: 1595px;
        left: 45px;
    }
}
@media(max-width: 900px) {
    main{
        grid-template-rows: 1800px 200px;
    }
    
    .cardapio > h2 {
        height: 45px;
    }
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 570px;
    }
    .BarcaOuRoleta{
        height: 300px;
    }
    .opcoes{
        width: 190px;
        height: 230px;
        margin-top: 20px;
    }
    .opcoes h3{
        font-size:16px;
        font-weight: bolder;
        margin: 0px;
        text-align: center;
    }
    .opcoes > img{
        width: 100% ;
        max-height: 50%;
    }
    .preco{
        float: right;
        padding: 5px;
    }
    .precoDe{
        color: brown;
        font-size: 15px;
    }
    .precoPor{
        color: green;
        font-size: 18px;
        font-weight: bold;
    }
    button{
        left: 33%;
    }
    .acaiNoCopo >h2{
        top: 160px;
        left: 40px;
    }
    .acaiNaTijela >h2{
        top: 820px;
        left: 40px;
    }
    .BarcaOuRoleta >h2{
        top: 1480px;
        left: 40px;
    }
}
@media(max-width: 800px){
    main{
        grid-template-rows: 1900px 1fr;
    }
    .acaiNoCopo >h2{
        left: 40px;
        top: 185px;
    }
    .acaiNaTijela >h2{
        left: 40px;
        top: 870px;
    }
    .BarcaOuRoleta >h2{
        left: 40px;
        top: 1555px;
    }
    .AreaDeConta{
        height: 100px;
    }
}
@media(max-width: 700px){
    main{
        grid-template-rows: 2800px 1fr;
    }
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        background-color: #4A2570;
        height: 900px;
    }
    .BarcaOuRoleta{
        height: 600px;
    }
    .cardapio >h2{
        height: 20px;
    }
    .acaiNoCopo >h2{
        left: 35px;
        top: 150px;
    }
    .acaiNaTijela >h2{
        left: 35px;
        top: 1155px;
    }
    .BarcaOuRoleta >h2{
        left: 35px;
        top: 2165px;
    }
}

@media(max-width: 600px){
    main{
        grid-template-rows: 2000px 1fr;
    }
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        
        background-color: #4A2570;
        height: 500px;
    }
    .BarcaOuRoleta{
        height: 400px;
    }
    .opcoes{
        width: 120px;
        height: 170px;
        margin-top: 20px;
    }
    
    .opcoes h3{
        font-size:12px;
        font-weight: bolder;
        margin: 0px;
        text-align: center;
    }
    .opcoes > img{
        width: 100% ;
        max-height: 45%;
    }
    .preco{
        float: right;
        padding: 2px;
    }
    .precoDe{
        color: brown;
        font-size: 11px;
    }
    .precoPor{
        color: green;
        font-size: 13px;
        font-weight: bold;
    }
    button{
        left: 20%;
    }
    .acaiNoCopo >h2{
        left: 30px;
        top: 200px;
    }
    .acaiNaTijela >h2{
        left: 30px;
        top: 855px;
    }
    .BarcaOuRoleta >h2{
        left: 30px;
        top: 1515px;
    }
}
@media(max-width: 500px){
    main{
        grid-template-rows: 1700px 1fr;
    }
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        background-color: #4A2570;
    }
    .BarcaOuRoleta{
        height: 260px;
    }
    .acaiNoCopo >h2{
        left: 25px;
        top: 155px;
    }
    .acaiNaTijela >h2{
        left: 25px;
        top: 775px;
    }
    .BarcaOuRoleta >h2{
        left: 25px;
        top: 1395px;
    }
    
}