@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root{
    --cor1: #4A2570;
    --cor2: #8651BC;
    --cor3: #1A1226;
    --cor4: #00010D;
  }

.corpo{

    display: grid;
    max-width: 100vw;
    box-sizing: border-box;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 150px 1400px 100px;
    grid-template-areas: 
        'header header'
        'main main'
        'footer footer'  
    ;
}
Header{
    grid-area: header;
}
Main{
    grid-area: main;
}
Footer{
    grid-area: footer;
}
main{
    display: grid;
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1200px 200px;
    grid-template-areas:
        'cardapio cardapio'
        'conta conta'
    ;
}
.cardapio{
    grid-area: cardapio;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

}
.acaiNoCopo >h2{
    color: white;
    position: absolute;
    left: 50px;
    top: 120px;
    font-family: 'Secular One', sans-serif;
}
.acaiNaTijela >h2{
    color: white;
    position: absolute;
    left: 50px;
    top: 535px;
    font-family: 'Secular One', sans-serif;

}
.BarcaOuRoleta >h2{
    color: white;
    position: absolute;
    left: 50px;
    top: 915px;
    font-family: 'Secular One', sans-serif;
}
.acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
    display: flex;
    margin-top: 50px;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 50px;
    background-color: #4A2570;
    padding: 10px;
}
.opcoes {
    display: flex;
    vertical-align: top;
    background-color: white;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.507);
    width: 220px;
    height: 260px;
    padding: 5px;
    border: 1px solid white;
    font-family: Verdana, sans-serif;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
}
.opcoes:hover{
    box-shadow: 1px 1px 10px var(--cor4);
    border: 2px solid var(--cor4);
}
.opcoes h3{
    font-size:18px;
    font-weight: bolder;
    margin: 0px;
    text-align: center;
    font-family: 'Secular One', sans-serif;
}
.opcoes > img{
    width: 100% ;
    max-height: 50%;
}
.preco{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.precoDe{
    color: brown;
}
.precoPor{
    color: green;
    font-size: 1.4em;
    font-weight: bold;
}

.botaoComprar{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 3px;
    border: 1.5px solid rgb(3, 81, 3);
    
}
.botaoComprar:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.507);
    border: 2px solid rgba(0, 0, 0, 0.504);
}
.AreaDeConta{
    grid-area: conta;
    color: white;
    font-size: 1.2em;
    max-height: 200px;
    width: 100%;
}
.finalizar{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    color: white;
}
#finalizarCompra, #remove,#montarAcaii{
    display: inline-block;
    padding: 8px;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}
#finalizarCompra{
    background-color: green;
}
#remove{
    background-color: red;
    border: none;
}
#montarAcaii{
    background-color: #8651BC;
}
#preco{
    margin-left: 10px;
}
@media(min-width: 1401px){
    main{
        grid-template-rows: 1200px 1fr;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 300px;

    }
    .acaiNoCopo >h2{
        top: 125px;
        left: 75px;
    }
    .acaiNaTijela >h2{
        top: 525px;
        left: 75px;
    }
    .BarcaOuRoleta >h2{
        top: 925px;
        left: 75px;
    }
    .opcoes {
        width: 220px;
        height: 260px;
        
    }
    .opcoes h3{
        font-size:18px;
        font-weight: bolder;
        margin: 0px;
    }
    .opcoes > img{
        width: 100% ;
        max-height: 50%;
    }
    .preco{
        float: right;
        padding: 10px;
    }
    .precoDe{
        font-size: 1.2em;
    }
    .precoPor{
        font-size: 1.4em;
        font-weight: bold;
    }
    .botaoComprar{
        left: 30%;
        top: 10px;
    
    }
}
@media(max-width: 1400px){
    .corpo{
        grid-template-rows: 150px 1300px 70px;
       
    }
    main{
        grid-template-rows: 1200px 1fr;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 300px;

    }
    .acaiNoCopo >h2{
        top: 125px;
        left: 70px;
    }
    .acaiNaTijela >h2{
        top: 525px;
        left: 70px;
    }
    .BarcaOuRoleta >h2{
        top: 925px;
        left: 70px;
    }
    
}
@media(min-width: 1301px) and (max-width: 1400px){
    .opcoes{
        width: 180px;
        height: 230px;
        margin-top: 20px;
    }
    
    .opcoes h3{
        font-size:15px;
        font-weight: bolder;
        margin: 0px;
        text-align: center;
    }
    .opcoes > img{
        width: 100% ;
        max-height: 50%;
    }
    .preco{
        float: right;
        padding: 5px;
    }
    .precoDe{
        font-size: 15px;
    }
    .precoPor{
        font-size: 17px;
        font-weight: bold;
    }
    .botaoComprar{
        left: 20%;
    }
}
@media(max-width: 1300px){
    .corpo{
        grid-template-rows: 150px 1900px 70px;
       
    }
    main{
        grid-template-rows: 1800px 200px;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 650px;

    }
    .opcoes > h3{
        text-align: center;
    }
    .BarcaOuRoleta{
        height: 300px;
    }
    .acaiNoCopo >h2{
        top: 125px;
        left: 65px;
        font-size: 22px;
    }
    .acaiNaTijela >h2{
        top: 840px;
        left: 65px;
        font-size: 22px;
    }
    .BarcaOuRoleta >h2{
        top: 1557px;
        left: 65px;
        font-size: 22px;
    }
}
@media(max-width: 1200px){
    .corpo{
        grid-template-rows: 150px 1900px 70px;
       
    }
    main{
        grid-template-rows: 1800px 200px;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 650px;

    }
    .BarcaOuRoleta{
        height: 300px;
    }
    .acaiNoCopo >h2{
        top: 125px;
        left: 60px;
        font-size: 23px;
    }
    .acaiNaTijela >h2{
        top: 840px;
        left: 60px;
        font-size: 23px;
    }
    .BarcaOuRoleta >h2{
        top: 1557px;
        left: 60px;
        font-size: 23px;
    }
}
@media(max-width: 1100px){
    .corpo{
        grid-template-rows: 150px 2000px 70px;
       
    }
    main{
        grid-template-rows: 1900px 200px;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 650px;

    }
    .BarcaOuRoleta{
        height: 300px;
    }
    .acaiNoCopo >h2{
        top: 125px;
        left: 55px;
        font-size: 23px;
    }
    .acaiNaTijela >h2{
        top: 875px;
        left: 55px;
        font-size: 23px;
    }
    .BarcaOuRoleta >h2{
        top: 1625px;
        left: 55px;
        font-size: 23px;
    }
}
@media(max-width: 1000px){
    .corpo{
        grid-template-rows: 150px 1900px 50px;
       
    }
    main{
        grid-template-rows: 1800px 200px;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 650px;

    }
    .BarcaOuRoleta{
        height: 300px;
    }
    .acaiNoCopo >h2{
        top: 125px;
        left: 50px;
        font-size: 22px;
    }
    .acaiNaTijela >h2{
        top: 840px;
        left: 50px;
        font-size: 22px;
    }
    .BarcaOuRoleta >h2{
        top: 1557px;
        left: 50px;
        font-size: 22px;
    }
}
@media(max-width: 900px) {
    .corpo{
        grid-template-rows: 150px 1750px 70px;
       
    }
    main{
        grid-template-rows: 1630px 200px;
    }
    
    .cardapio > h2 {
        height: 45px;
    }
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        height: 570px;
    }
    .BarcaOuRoleta{
        height: 300px;
    }
    .opcoes{
        width: 190px;
        height: 230px;
        margin-top: 20px;
    }
    .opcoes h3{
        font-size:16px;
        font-weight: bolder;
        margin: 0px;
        text-align: center;
    }
    .opcoes > img{
        width: 100% ;
        max-height: 50%;
    }
    .preco{
        float: right;
        padding: 5px;
    }
    .precoDe{
        color: brown;
        font-size: 15px;
    }
    .precoPor{
        color: green;
        font-size: 18px;
        font-weight: bold;
    }
    .botaoComprar{
        left: 33%;
    }
    .acaiNoCopo >h2{
        top: 127px;
        left: 45px;
        font-size: 21px;
    }
    .acaiNaTijela >h2{
        top: 760px;
        left: 45px;
        font-size: 21px;
    }
    .BarcaOuRoleta >h2{
        top: 1393px;
        left: 45px;
        font-size: 21px;
    }
}
@media(max-width: 800px){
    .corpo{
        grid-template-rows: 150px 1830px 90px;
       
    }
    main{
        grid-template-rows: 1700px 1fr;
    }
    .acaiNoCopo >h2{
        left: 40px;
        top: 125px;
        font-size: 20px;
    }
    .acaiNaTijela >h2{
        left: 40px;
        top: 783px;
        font-size: 20px;
    }
    .BarcaOuRoleta >h2{
        left: 40px;
        top: 1440px;
        font-size: 20px;
    }
    .AreaDeConta{
        height: 100px;
    }
}
@media(max-width: 700px){
    .corpo{
        grid-template-rows: 150px 2730px 90px;
       
    }
    main{
        grid-template-rows: 2600px 1fr;
    }
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        background-color: #4A2570;
        height: 900px;
    }
    .BarcaOuRoleta{
        height: 600px;
    }
    .cardapio >h2{
        height: 20px;
    }
    .acaiNoCopo >h2{
        left: 35px;
        top: 128px;
        font-size: 19px;
    }
    .acaiNaTijela >h2{
        left: 35px;
        top: 1095px;
        font-size: 19px;
    }
    .BarcaOuRoleta >h2{
        left: 35px;
        top: 2060px;
        font-size: 19px;
    }
}

@media(max-width: 600px){
    .corpo{
        grid-template-rows: 150px 1630px 90px;
       
    }
    main{
        grid-template-rows: 1500px 1fr;
    }
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        
        background-color: #4A2570;
        height: 500px;
    }
    .BarcaOuRoleta{
        height: 250px;
        align-items: center;
    }
    .opcoes{
        width: 120px;
        height: 170px;
        margin-top: 20px;
    }
    
    .opcoes h3{
        font-size:12px;
        font-weight: bolder;
        margin: 0px;
        text-align: center;
    }
    .opcoes > img{
        width: 100% ;
        max-height: 45%;
    }
    .preco{
        float: right;
        padding: 2px;
    }
    .precoDe{
        color: brown;
        font-size: 11px;
    }
    .precoPor{
        color: green;
        font-size: 13px;
        font-weight: bold;
    }
    .botaoComprar{
        left: 20%;
    }
    .acaiNoCopo >h2{
        left: 30px;
        top: 130px;
        font-size: 17px;
    }
    .acaiNaTijela >h2{
        left: 30px;
        top: 710px;
        font-size: 17px;
    }
    .BarcaOuRoleta >h2{
        left: 30px;
        top: 1295px;
        font-size: 17px;
    }
    .finalizar{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 50px;
    }
}
@media(max-width: 500px){
    .corpo{
        grid-template-rows: 150px 2300px 100px;
       
    }
    main{
        grid-template-rows: 2150px 1fr;
    }
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        background-color: #4A2570;
        height: 700px;
    }
    .BarcaOuRoleta{
        height: 500px;
    }
    .acaiNoCopo >h2{
        left: 25px;
        top: 130px;
        font-size: 16px;
    }
    .acaiNaTijela >h2{
        left: 25px;
        top: 915px;
        font-size: 16px;
    }
    .BarcaOuRoleta >h2{
        left: 25px;
        top: 1695px;
        font-size: 16px;
    }
    .finalizar{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 100px;
    }
    
}
@media(max-width: 400px){
    .corpo{
        grid-template-rows: 90px 2300px 100px;
       
    }
    main{
        grid-template-rows: 2120px 1fr;
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        background-color: #4A2570;
        height: 700px;
    }
    .BarcaOuRoleta{
        height: 500px;
    }
    .acaiNoCopo >h2{
        left: 20px;
        top: 70px;
        font-size: 18px;
    }
    .acaiNaTijela >h2{
        left: 20px;
        top: 840px;
        font-size: 18px;
    }
    .BarcaOuRoleta >h2{
        left: 20px;
        top: 1610px;
        font-size: 18px;
    }
    .opcoes{
        width: 100px;
        height: 150px;
        margin-top: 20px;
    }
    
    .opcoes h3{
        font-size:9.5px;
        font-weight: bolder;
        margin: 0px;
        text-align: center;
    }
    .opcoes > img{
        width: 100% ;
        max-height: 45%;
    }
    .preco{
        float: right;
        padding: 1px;
    }
    .precoDe{
        font-size: 9px;
    }
    .precoPor{
        font-size: 11px;
        font-weight: bold;
    }
    .botaoComprar{
        font-size: 10px;
        left: 20%;
    }
    .finalizar{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 100px;
        color: white;
    }
}
@media(max-width: 300px){
    .corpo{
        grid-template-rows:  100px 1900px 60px ;
        
    }
    main{
        grid-template-rows: 1700px 200px;
        
    }
    
    .acaiNoCopo, .BarcaOuRoleta, .acaiNaTijela{
        margin-top: 0px;
        background-color: #4A2570;
        height: 600px;
        width: 290px;
        margin-left: 10px;
    }
    .BarcaOuRoleta{
        height: 400px;
    }
    .acaiNoCopo >h2{
        left: 11px;
        top: 85px;
        font-size: 10px;
    }
    .acaiNaTijela >h2{
        left: 11px;
        top: 735px;
        font-size: 10px;
    }
    .BarcaOuRoleta >h2{
        left: 11px;
        top: 1385px;
        font-size: 10px;
    }
    .opcoes{
        width: 90px;
        height: 140px;
        margin-top: 20px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.507);
        border-radius: 5px;
    }
    
    .opcoes h3{
        font-size:9.5px;
        font-weight: bolder;
        margin: 0px;
        text-align: center;
    }
    .opcoes > img{
        width: 100% ;
        height: 75%;
    }
    .preco{
        float: right;
        padding: 1px;
    }
    .precoDe{
        font-size: 7px;
    }
    .precoPor{
        font-size: 9px;
        font-weight: bold;
    }
    .AreaDeConta{

       height: 150px;
    }
    .finalizar{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 150px;
        color: white;
    }
  
    
}