@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
header{
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    font-family: 'Secular One', sans-serif;
}
.logo img{
    width: 50px;
    height: 50px;
}
.headerLogo{
    display: flex;

}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.titulo > h1{
    font-size: 30px;
    color: white;
}
.subtitle h2 {
    color: white;
    font-size: 20px;
}
nav{
    color: white;
    display: flex;
    justify-content: space-around;
}
nav a{
    color: white;
    text-decoration: none;
}
@media(max-width: 600px){
    
    .titulo > h1 {
        font-size: 40px;
    }
}
@media(max-width: 400px){
    header{
        height: 80px;
    }
    .titulo > h1 {
        font-size: 25px;
    }
    .titulo > h2{
        font-size: 20px;
    }

}
@media(max-width: 300px){
    header{
        height: 60px;
    }
    
    .titulo > h1 {
        font-size: 15px;
    }
    .titulo> h2{
        font-size: 12px;
    }
    .logo img{
        margin-top: 5px;
        width: 30px;
        height: 30px;
    }
}
