header{
    display: flex;
    max-width: 98.9%;
    align-items: center;
    justify-content: center;
}
.logo > img{
    height: 60px;
    width: 60px;
}
.titulo > h1{
    font-size: 50px;
    color: white;
}
@media(max-width: 600px){
    .logo{
        margin-right: 10px;
    }
    .logo > img{
        height: 40px;
        width: 40px;
        
    }
    .titulo > h1 {
        font-size: 40px;
    }
}
@media(max-width: 400px){
    header{
        height: 60px;
    }
    .logo{
        margin-right: 5px;
    }
    .logo > img{
        height: 30px;
        width: 30px;
        
    }
    .titulo > h1 {
        font-size: 30px;
    }

}
@media(max-width: 300px){
    header{
        height: 60px;
    }
    .logo{
        margin-right: 5px;
    }
    .logo > img{
        height: 28px;
        width: 28px;
        
    }
    .titulo > h1 {
        font-size: 28px;
    }

}
