@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
header{
    display: flex;
    max-width: 98.9%;
    align-items: center;
    justify-content: center;
    
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Secular One', sans-serif;
}
.titulo > h1{
    font-size: 50px;
    color: white;
}
.titulo h2 {
    color: white;
    font-size: 36px;
}
@media(max-width: 600px){
    
    .titulo > h1 {
        font-size: 40px;
    }
}
@media(max-width: 400px){
    header{
        height: 80px;
    }
    .titulo > h1 {
        font-size: 25px;
    }
    .titulo > h2{
        font-size: 20px;
    }

}
@media(max-width: 300px){
    header{
        height: 60px;
    }
    
    .titulo > h1 {
        font-size: 15px;
    }
    .titulo> h2{
        font-size: 12px;
    }

}
