footer{
    background-color: var(--cor4);
    color: white;
    display: flex;
    justify-content: center;
}

.redes{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
   
}
.iconColor{
color: white;
}
@media(max-width: 300px){
    footer{
        height: 60px;
    }
    h2{
        font-size: 18px;
    }
}